:root {
  /* FONT */

  --main-font-family: "Roboto", sans-serif;
  --main-font-size: 16px;

  --logo-font-family: "Raleway", sans-serif;

  /* COLOR */

  --dark-color: #2e2f42;
  --text-color: #434455;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --light-color: #f4f4fd;
  --white-bg-color: #ffffff;
  --success-color: #31d0aa;
  --subtitle-text: #8e8f99;
  --accent-color: #e7e9fc;
  --modal-overlay-color: #2e2f42;
  --hero-bg-color: #2e2f42;
  --modal-bg-color: #fcfcfc;

  /* GRID */

  --mobile-distance: 72px;
  --distance: 24px;
  --item-in-row: 4;

  /* ANIMATION */

  --animation-time: 250ms;
  --animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ======= RESET STYLES ======= */

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* ======= BASE STYLES ======= */

body {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);

  background-color: var(--white-bg-color);
  color: var(--text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ======= COMPONENT STYLES ======= */

.logo {
  display: block;

  font-family: var(--logo-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-brand-color);
}

.section-name {
  margin-bottom: var(--mobile-distance);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;

  color: var(--dark-color);
}

.logo-light-theme {
  color: var(--dark-color);
}

.logo-dark-theme {
  color: var(--light-color);
}

.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--pressed-state-color);
}

.btn {
  cursor: pointer;
  display: block;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;

  color: var(--white-bg-color);
  background-color: var(--primary-brand-color);

  transition: background-color var(--animation-time) var(--animation-cubic);
}

.btn:hover,
.btn:focus {
  background-color: var(--pressed-state-color);
}

.container {
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .narrow-container {
    width: 552px;
    padding: 0 0;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;

  /* padding-top: 120px;
  padding-bottom: 120px; */
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.grid {
  width: calc(
    (100% - var(--distance) * (var(--item-in-row) - 1)) / var(--item-in-row)
  );
}

.media-list {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
}

.media-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50% 50%;

  background-color: var(--primary-brand-color);

  transition: background-color var(--animation-time) var(--animation-cubic);
}

.media-icon {
  fill: var(--light-color);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  padding: 0;

  border-radius: 50%;
  color: var(--dark-color);

  transition: background-color var(--animation-time) var(--animation-cubic),
    border var(--animation-time) var(--animation-cubic),
    color var(--animation-time) var(--animation-cubic);

  cursor: pointer;
}

/* ======= HEADER STYLES ======= */

.header-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.header .logo {
  padding-top: 24px;
  padding-bottom: 22px;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;

  background-color: var(--white-bg-color);

  transition: transform var(--animation-time) var(--animation-time);
}

@media screen and (max-width: 427px) {
  .menu-wrapper {
    overflow: auto;
  }
}

@media screen and (max-width: 767px) {
  .menu-wrapper {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    transform: translateX(100%);

    height: 100%;
    padding: 80px 16px 40px 40px;
  }
}

@media screen and (min-width: 768px) {
  .menu-wrapper {
    flex-direction: row;
    justify-content: space-between;

    margin-left: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .menu-wrapper {
    margin-left: 76px;
  }
}

.menu-wrapper.is-open {
  transform: translateX(0);
}

.menu-link {
  display: block;
  /* padding: 24px 0 24px; */

  /* font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em; */

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;

  color: var(--dark-color);

  transition: color var(--animation-time) var(--animation-cubic);
}

@media screen and (min-width: 768px) {
  .menu-link {
    padding: 24px 0 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.contact-link {
  display: block;
  /* padding: 24px 0 23px; */

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* line-height: 1.5; */
  letter-spacing: 0.02em;
  color: inherit;

  transition: color var(--animation-time) var(--animation-cubic);
}

@media screen and (min-width: 768px) {
  .contact-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1158px) {
  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    color: var(--primary-brand-color);
  }
}

.address {
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .address {
    margin-top: auto;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .address {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.address > .list {
  display: flex;
  flex-direction: column-reverse;

  gap: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .address > .list {
    flex-direction: column;

    gap: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .address > .list {
    flex-direction: row;
  }
}

.header {
  border-bottom: 1px solid var(--accent-color);

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-btn {
    margin-left: auto;

    background-color: transparent;
    border: none;

    cursor: pointer;
  }
}

.nav {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    gap: 40px;
  }
}

@media screen and (max-width: 767px) {
  .menu-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

.nav > .logo {
  padding: 24px 0 23px;
  margin-right: 76px;
}

.active-page {
  position: relative;
  transform-origin: top;

  color: var(--pressed-state-color);
}

.menu-item {
  position: relative;
}

.menu-link::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(1px);

  width: 100%;
  height: 4px;

  background-color: var(--pressed-state-color);
  border-radius: 2px;
  opacity: 0;

  transition: opacity 500ms var(--animation-cubic);
}

@media screen and (min-width: 768px) {
  .active-page.menu-link::after {
    opacity: 1;
  }

  .menu-link:active::after {
    opacity: 1;
  }
}

.menu-close-btn {
  background: rgba(231, 233, 252, 0.1);
  border: 1px solid rgba(46, 47, 66, 0.1);
}

@media screen and (min-width: 768px) {
  .menu-close-btn {
    display: none;
  }
}

.menu-wrapper .media-list {
  justify-content: space-between;

  max-width: 328px;
}

@media screen and (min-width: 768px) {
  .menu-wrapper .media-list {
    display: none;
  }
}

/* ======= HERO SECTION STYLES ======= */

.hero-section {
  padding-top: 112px;
  padding-bottom: 112px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--dark-color);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1158px) {
  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

@media screen and (max-width: 428px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/background/mobile/hero-background.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/background/mobile/hero-background@2x.jpg");
    }
  }

  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/background/mobile/hero-background@3x.jpg");
    }
  }
}

@media screen and (min-width: 429px) and (max-width: 768px) {
  .hero-section {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/background/tablet/hero-background.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/background/tablet/hero-background@2x.jpg");
    }
  }

  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/background/tablet/hero-background@3x.jpg");
    }
  }
}

@media screen and (min-width: 769px) {
  .hero-section {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/background/desktop/hero-background.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/background/desktop/hero-background@2x.jpg");
    }
  }

  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/background/desktop/hero-background@3x.jpg");
    }
  }
}

.hero-text {
  margin: 0 auto 48px;

  max-width: 320px;
  /* max-width: 496px; */
  font-weight: 700;
  font-size: 36px;
  /* font-size: 56px; */
  line-height: 1.11;
  /* line-height: 1.07; */
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--white-bg-color);
}

@media screen and (max-width: 767px) {
  .hero-text {
    text-transform: capitalize;
  }
}

@media screen and (min-width: 768px) {
  .hero-text {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .hero-text {
    margin-bottom: 36px;
  }
}

.order-btn {
  font-weight: 500;

  margin: 0 auto;
  min-width: 169px;
  min-height: 56px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

/* ======= ADVANTAGES SECTION STYLES ======= */

.list-item-dscr {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1158px) {
  .list-item-dscr {
    font-weight: 400;
  }
}

.advantages-list {
  --item-in-row: 1;

  display: flex;
  flex-direction: column;
  gap: var(--mobile-distance);
}

@media screen and (min-width: 768px) {
  .advantages-list {
    --item-in-row: 2;
    column-gap: var(--distance);
    row-gap: 72px;

    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1158px) {
  .advantages-list {
    --item-in-row: 4;
  }
}

.advantages-list .list-item-title {
  margin-bottom: 8px;
}

.advantages-list-item-title {
  text-align: center;

  margin-bottom: 8px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--dark-color);
}

@media screen and (min-width: 768px) {
  .advantages-list-item-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .advantages-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.advantages-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 8px;

  background: var(--light-color);
  border-radius: 4px;
}

@media screen and (max-width: 1157px) {
  .advantages-icon-container {
    display: none;
  }
}

.advantages-icon {
  margin: 0 auto;
}

/* ======= WHAT ARE WE DOING SECTION STYLES ======= */

.what-are-we-doing-section {
  padding-top: 0;
}

@media screen and (max-width: 1157px) {
  .what-are-we-doing-section {
    display: none;
  }
}

.what-are-we-doing-section .list {
  --item-in-row: 3;

  display: flex;
  gap: var(--distance);
}

/* ======= TEAM SECTION STYLES ======= */

.team-section {
  background-color: var(--light-color);
}

.team-card {
  margin-left: auto;
  margin-right: auto;

  max-width: 264px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-bg-color);
}

.job-title {
  margin-bottom: 8px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
}

.team-section-list {
  --item-in-row: 1;
  display: flex;
  flex-wrap: wrap;

  gap: var(--mobile-distance);
}

@media screen and (min-width: 768px) {
  .team-section-list {
    --item-in-row: 2;
    --distance: 24px;

    column-gap: var(--distance);
    row-gap: 64px;

    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1158px) {
  .team-section-list {
    flex-wrap: nowrap;
  }
}

.team-list-item-title {
  text-align: center;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--dark-color);
}

.card-text {
  padding: 32px 0;
  text-align: center;

  border-radius: 0px 0px 4px 4px;
}

.card-text > .list-item-title {
  margin-bottom: 8px;
}

.team-section .media-list {
  gap: 24px;
}

.team-card:hover .media-link,
.media-link:focus {
  background-color: var(--pressed-state-color);
}

/* ======= CUSTOMERS SYLES ======= */

.customer-section-title {
  line-height: 1.1;
}

.customer-logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}

@media screen and (min-width: 768px) {
  .customer-logo {
    column-gap: 24px;
  }
}

.customer-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 190px;
  height: 88px;

  color: var(--subtitle-text);
  border: 1px solid var(--subtitle-text);
  border-radius: 4px;

  transition: color var(--animation-time) var(--animation-cubic),
    border-color var(--animation-time) var(--animation-cubic);
}

@media screen and (min-width: 768px) {
  .customer-logo-link {
    width: 168px;
  }
}

.customer-logo-link:hover,
.customer-logo-link:focus {
  color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}

.customer-icon {
  fill: currentColor;

  width: 110px;
  /* width: 104px; */
  height: 56px;
}

/* ======= PORTFOLIO SECTION STYLES ======= */

.filter-btn {
  /* padding: 12px 24px; */
  padding: 7px 15px;

  height: 40px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: 1px solid var(--accent-color);
  background-color: var(--light-color);
  color: var(--primary-brand-color);

  transition: box-shadow var(--animation-time) var(--animation-cubic),
    background-color var(--animation-time) var(--animation-cubic),
    color var(--animation-time) var(--animation-cubic),
    border-color var(--animation-time) var(--animation-cubic);
}

@media screen and (min-width: 768px) {
  .filter-btn {
    padding: 12px 24px;

    height: 48px;
  }
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn-active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--pressed-state-color);
  color: var(--white-bg-color);
  border-color: transparent;
}

.portfolio-card-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--dark-color);
}

.portfolio-card-dscr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

.portfolio-section {
  padding-top: 48px;
  padding-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .portfolio-section {
    padding-top: 64px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-section {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;

  gap: var(--distance);
}

@media screen and (max-width: 767px) {
  .filter {
    max-width: 270px;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 64px;
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .filter {
    margin-bottom: 72px;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--distance);
  row-gap: 48px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .portfolio-list {
    row-gap: 72px;
  }
}

.portfolio-card-text {
  padding: 32px 16px;

  border: 1px solid var(--accent-color);
  border-top: transparent;

  transition: border var(--animation-time) var(--animation-cubic);
}

.portfolio-card-link {
  display: block;

  transition: box-shadow var(--animation-time) var(--animation-cubic);
}

.portfolio-card-link:hover,
.portfolio-card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card-link:hover .portfolio-card-text,
.portfolio-card-link:focus .portfolio-card-text {
  border: 1px solid var(--light-color);
  border-top: transparent;
}

.portfolio-card {
  --item-in-row: 1;
}

@media screen and (min-width: 768px) {
  .portfolio-card {
    --item-in-row: 2;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-card {
    --item-in-row: 3;
  }
}

.image-card {
  position: relative;
  overflow: hidden;

  height: 100%;
}

.overlay-portfolio {
  position: absolute;
  overflow: auto;

  width: 100%;
  height: 100%;

  padding: 40px 32px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--light-color);
  background-color: var(--primary-brand-color);

  transition: transform var(--animation-time) var(--animation-cubic);
}

.portfolio-card-link:hover .overlay-portfolio,
.portfolio-card-link:focus .overlay-portfolio {
  transform: translateY(-100%);
}

/* ======= FOOTER SYLES ======= */

.footer {
  padding-top: 96px;
  padding-bottom: 96px;

  background-color: var(--dark-color);
}

@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer .container {
  display: flex;
  flex-direction: column;

  gap: 72px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;

    column-gap: 24px;
  }
}

@media screen and (min-width: 1157px) {
  .footer .container {
    gap: 0;
  }
}

.footer-text {
  max-width: 264px;

  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--light-color);
}

@media screen and (max-width: 767px) {
  .footer-text {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1158px) {
  .footer-text {
    margin-right: 120px;
    width: 264px;
  }
}

.footer .logo {
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .footer .logo {
    text-align: center;
  }
}

.footer-title {
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-bg-color);
}

@media screen and (max-width: 767px) {
  .footer-title {
    text-align: center;
  }
}

.footer .media-list {
  gap: 16px;
}

.footer .media-link:hover,
.footer .media-link:focus {
  background-color: var(--success-color);
}

@media screen and (min-width: 1158px) {
  .footer-form-wrapper {
    margin-left: auto;
  }
}

.email-footer-input {
  width: 100%;
  height: 40px;

  padding: 8px 8px 8px 16px;

  opacity: 0.3;
  color: var(--white-bg-color);
  background-color: transparent;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .email-footer-input {
    width: 264px;
  }
}

.email-footer-label {
  position: absolute;

  top: calc(40px / 2);
  left: 16px;
  transform: translateY(-50%);

  opacity: 0.3;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-bg-color);

  transition: transform var(--animation-time) var(--animation-cubic);
}

@media screen and (min-width: 1158px) {
  .email-footer-input,
  .email-footer-label {
    opacity: 1;
  }
}

.email-footer-input:focus,
.email-footer-input:not(:placeholder-shown) {
  opacity: 1;
}

.email-footer-input:focus + .email-footer-label,
.email-footer-input:not(:placeholder-shown) + .email-footer-label {
  transform: translateY(-130%);

  opacity: 1;
  background-color: var(--dark-color);
}

.email-footer-form {
  position: relative;

  display: flex;
  align-items: center;

  gap: 24px;
}

@media screen and (max-width: 767px) {
  .email-footer-form {
    flex-direction: column;
    gap: 16px;
  }
}

.footer-form-btn {
  display: flex;
  align-items: center;

  /* margin-left: 24px;
  margin-right: 3px; */
  padding: 8px 24px;
  gap: 16px;

  font-weight: 500;
  color: var(--white-bg-color);

  background: var(--primary-brand-color);
  border: none;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--success-color);
}

/* ======= MODAL SYLES ======= */

.overlay-modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  transform: scale(1);

  background: rgba(46, 47, 66, 0.4);

  transition: opacity 500ms var(--animation-cubic),
    visibility 500ms var(--animation-cubic),
    transform 800ms var(--animation-cubic);
}

.modal {
  position: fixed;
  z-index: 200;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 392px;

  /* padding: 72px 24px 24px; */
  padding: 72px 16px 24px;

  background-color: var(--modal-bg-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  overflow: auto;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;

    padding-right: 25px;
    padding-left: 23px;
  }
}

@media screen and (max-width: 392px) {
  .modal {
    width: 100%;
  }
}

@media screen and (max-height: 524px) {
  .modal {
    height: 100%;
  }
}

.modal-close-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent-color);

  transition: background-color var(--animation-time) var(--animation-cubic),
    border var(--animation-time) var(--animation-cubic),
    color var(--animation-time) var(--animation-cubic);
}

.close-image {
  display: block;
  margin: auto auto;

  fill: currentColor;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--pressed-state-color);
  border: transparent;
  color: var(--white-bg-color);
}

.overlay-modal.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(1.2);
}

.modal-text {
  display: block;

  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--dark-color);
}

.form-input-wrapper {
  position: relative;

  margin-top: 4px;
  margin-bottom: 8px;
}

.icon-form-modal {
  fill: var(--dark-color);

  transition: fill var(--animation-time) var(--animation-cubic);
}

.input-form-modal {
  display: block;

  height: 40px;
  width: 100%;

  padding: 11px 16px 11px 38px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--dark-color);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  transition: border-color var(--animation-time) var(--animation-cubic);
}

.input-form-modal:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}

.input-form-modal:focus ~ .icon-form-modal {
  fill: var(--primary-brand-color);
}

.label-form-modal {
  display: block;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--subtitle-text);
}

.icon-form-modal {
  position: absolute;

  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.comment-form-modal {
  height: 120px;

  margin-top: 4px;
  margin-bottom: 16px;
  padding: 8px 16px;

  resize: none;
}

.comment-form-modal::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.ageement-checkbox {
  appearance: none;
}

.custom-checkbox-thumb {
  display: inline-block;
}

.custom-checkbox-wrapper {
  display: flex;

  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;

  margin-right: 8px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: background-color var(--animation-time) var(--animation-cubic),
    border-color var(--animation-time) var(--animation-cubic);

  cursor: pointer;
}

.ageement-checkbox:checked + .ageement-checkbox-text .custom-checkbox-wrapper {
  background-color: var(--pressed-state-color);
  border-color: transparent;
}

.custom-checkbox-icon-wrapper {
  display: flex;
  width: 10px;
  height: 8px;

  transform: scale(0);

  transition: transform var(--animation-time) var(--animation-cubic);
}

.ageement-checkbox:checked
  + .ageement-checkbox-text
  .custom-checkbox-wrapper
  > .custom-checkbox-icon-wrapper {
  transform: scale(1);
  transform-origin: bottom;
}

.custom-checkbox-icon {
  align-items: center;
  justify-content: center;
}

.ageement-checkbox-text {
  display: block;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtitle-text);
}

.privacy-policy-link {
  color: var(--primary-brand-color);
}

.send-modal-btn {
  width: 169px;
  height: 56px;

  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}
